<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Registration Error</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
</head>
<body style="margin:20px">
	<form id="register" action="#" class="form-group" th:action="@{/register}">
		<fieldset>
			<p th:text="'Something went wrong with your registration - please try again.'" />
			<input id="goRegister" type="submit" class="button btn btn-success" value="Register"/>
		</fieldset>
	</form>
	<br/>
</body>
</html>