<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Registration Successful</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
</head>
<body style="margin:20px">
	<form id="home" action="#" th:action="@{/}">
		<fieldset>
			<p th:text="'You have successfully registered - you can now go on request for a validation number.'" />
			<input id="goHome" type="submit" class="button" value="Back to Home"/>
		</fieldset>
	</form>
	<br/>
</body>
</html>