<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Request a Validation Number</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
</head>
<body style="margin:20px">
	<form id="request" action="#" th:action="@{/validation}" method="post">
		<fieldset>		
		    <label>Name:</label> <br/>
	    	<input id="name" name="nametxt" type="text"/>
	    	<br/><br/>
	    	<label>Nonce:</label> <br/>
	    	<input id="nonce" name="noncetxt" type="text"/>
	    	<br/><br/>
	    	<input id="submit" type="submit" class="button" value="Request"/>
		</fieldset>
	</form>
</body>
</html>