<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Validation Number Request Error</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
</head>
<body style="margin:20px">
	<form id="validation" action="#" th:action="@{/request}">
		<fieldset>
			<p th:text="'You might have entered your name wrong or you have not yet registered - please try again.'" />
			<input id="goRequest" type="submit" class="button" value="Retry Request"/>
		</fieldset>
	</form>
	<br/>
</body>
</html>