<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Request a Validation Number - Confirm</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
</head>
<body style="margin:20px">
	<form id="confirm" action="#" class="form-group" th:action="@{/validationConfirmed}">
		<fieldset>		
		    <label>Validation Number:</label> <br/>
	    	<label th:text="${validationNum}"></label>
	    	<input style="visibility: hidden; display:none" name="nametxt" type="text" th:value="${name}"/>
	    	<br/><br/>
	    	<label>Nonce:</label> <br/>
	    	<label th:text="${nonce}"></label>
	    	<br/><br/>
	    	<input id="submit" type="submit" class="button btn btn-success" value="Confirm"/>
		</fieldset>
	</form>
</body>
</html>