<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Vote - Confirm</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
</head>
<body style="margin:20px">
	<form id="confirm" action="#" th:action="@{/voteConfirmed}">
		<fieldset>		
		    <label>Vote:</label> <br/>
	    	<label th:text="${vote}"></label>
	    	<br/><br/>
	    	<label>Nonce:</label> <br/>
	    	<label th:text="${nonce}"></label>
	    	<br/><br/>
	    	<label>ID:</label> <br/>
	    	<label th:text="${id}"></label>
	    	<input style="visibility: hidden; display:none" name="idtxt" type="text" th:value="${id}"/>
	    	<br/><br/>
	    	<input id="submit" type="submit" class="button" value="Confirm"/>
		</fieldset>
	</form>
</body>
</html>