<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Vote Error</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
</head>
<body style="margin:20px">
	<form id="vote" action="#" class="form-group" th:action="@{/vote}">
		<fieldset>
			<p th:text="'You might have entered the wrong validation number or you have not yet registered - please try again.'" />
			<input id="goVote" type="submit" class="button btn btn-success" value="Retry Voting"/>
		</fieldset>
	</form>
	<br/>
</body>
</html>